@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "pinar-400";
    src: local("pinar-400"),
      url("../fonts/pinar/pinar-400.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "pinar-700";
    src: local("pinar-700"),
      url("../fonts/pinar/pinar-700.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Arad Regular";
    src: local("Arad Regular"),
      url("../fonts/Arad/Arad-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Arad Medium";
    src: local("Arad Medium"),
      url("../fonts/Arad/Arad-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Arad SemiBold";
    src: local("Arad SemiBold"),
      url("../fonts/Arad/Arad-SemiBold.woff2") format("woff2");
  }
  body {
    background-image: url("../images/headerBgDesktop.webp");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@layer utilities {
  .custom-scrollbar-1 {
    direction: ltr;
  }
  .custom-rtl {
    direction: rtl;
  }
  .custom-scrollbar-1::-webkit-scrollbar {
    width: 1vw;
  }
  .custom-scrollbar-1::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
    margin: 1em 0;
  }
  .custom-scrollbar-1::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border: 3px solid white;
    border-radius: 20px;
  }

  .dark .custom-scrollbar-1-dark::-webkit-scrollbar {
    width: 1vw;
  }
  .dark .custom-scrollbar-1-dark::-webkit-scrollbar-track {
    margin: 1em 0;
    background: #3f3f46;
    border-radius: 20px;
  }
  .dark .custom-scrollbar-1-dark::-webkit-scrollbar-thumb {
    border: 3px solid #3f3f46;
    background: #38383d;
    height: 20px;
    border-radius: 20px;
  }
}
